[Unit]
Description=exposes metrics to http
After=network.target rabbitmq-server.service

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/Traffic-Generator/src/promserver.py
Restart=always

[Install]
WantedBy=multi-user.target
